.player-header-info {
  background-color: #21d4d4;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

.player-info {
  align-items: flex-end;
  color: white;
  display: flex;
  font-family: Russo One, sans-serif;
  font-size: 1.2rem;
  justify-content: space-around;
}
