/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.App-header {
  background-color: #21d4d4;
  min-height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}
